* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif !important;
    box-sizing: border-box;
}

p,h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px !important;
}

.main {
    overflow: hidden;
    background-color: #09162E;
    /* background: linear-gradient(256.71deg, rgba(9, 22, 46, 0.15) 24.84%, #09162E 70.48%); */
}

.main {
    position: relative;
}

.main__background-img--container {
    position: absolute;
    /* height: 100%; */
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    /* width: 1538px; */
    height: auto;
    width: auto;
}

.main__background-img--container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(256.71deg, rgba(9, 22, 46, 0.15) 24.84%, #09162E 70.48%);
    z-index: 2;

}

.main__background-img {
    width: 1538px;
    z-index: 1;
    position: relative;
}

.main__inner {
    padding: 195px 0 49px 38px;
    position: relative;
}

.main__title {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    z-index: 3;
    position: relative;
    font-size: 64px;
    font-weight: 700;
}

.main__form {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
    background: #FFFFFF33;
    border-radius: 16px;
    margin-top: 60px;
    position: relative;
    width: auto;
    z-index: 3;
    width :823px
}

.main__form-select .show {
    inset: 0px auto auto 0px !important; 
}

.main__form-select--button {
    padding: 16px 96px 16px 16px;
    background-color: #FFFFFF !important;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    width: 100%;
}

.main__dropdown-text {
    color: #23232380;
}

.main__form-select--button::after {
    display: none;
}

.main__dropdown-arrow {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown, .main__form-select {
    width: 270px !important;
}

.main__form-button {
    width: 226px;
    background-color: #00335B;
    padding: 20px 24px;
    border-radius: 12px;
    font-size: 16px;
    color: #FFFFFF;
    height: 58px;
}

.main__achievements {
    margin-top: 203px;
    width: 445px;
    display: flex;
    align-items: center;
}

.main__achievements-item--title {
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    z-index: 3;
}

.main__achievements-item--text {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF80;
    text-align: center;
    position: relative;
    z-index: 3;
}

.main__achievements-item--left {
    padding-right: 40px;
}

.main__achievements-item--center {
    padding: 0 41px;
    position: relative;
}

.main__achievements-item--right {
    padding-left: 40px;
}

.main__achievements-item--center::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #FFFFFF33;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.main__achievements-item--center::after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #FFFFFF33;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.main__suptext {
    position: absolute;
    color: #FFFFFF;
    right: 100px;
    bottom: 40px;
    font-size: 24px;
    text-align: right;
}
  
.swiper-container {
    height: 100px;
    padding: 12px 0;
}
  
.companies__swiper-slide {
    width: 100px ;
    overflow: hidden;
    background-position: center center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-repeat: no-repeat;
    /* filter: opacity(.5); */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1) opacity(0.5);
    transition: .5s;
}

.companies__swiper-slide:hover {
    filter: grayscale(1) opacity(1);
}
  
.swiper-wrapper {
    -webkit-transition-timing-function:linear!important; 
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important; 
}

.header {
    position: fixed;
    width: 100vw;
    top: -100%;
    padding: 31px 0;
    z-index: 999999;
    transition: 0.5s;
}

.header__inner::before {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 1400px;
    height: 1px;
    background-color: #FFFFFF80;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header-scroll .header__inner::before {
    display: none;
}

.header-visible {
    top: 0;
}

.header-scroll {
    background-color: #09162E;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logo-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__menu-link {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.header__menu {
    display: flex;
    gap: 32px;
}

.header__contacts {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__contacts-town {
    color: #FFFFFF80;
    font-size: 14px;
    font-weight: 400;
}

.header__contacts-tel {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.header__contacts-right {
    display: flex;
    gap: 12px;
}

.catalog__title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.catalog__title-text {
    font-weight: 500;
    font-size: 32px;
}

.catalog__japan {
    padding: 40px 0 60px;
}

.catalog__japan-main {
    margin-top: 24px;
}

.catalog__china-main {
    margin-top: 24px;
}

.catalog__japan-btns {
    display: flex;
    gap: 12px;
}

.catalog__btn {
    background-color: #F4F0F4;
    border-radius: 28px;
    padding: 8px 16px;
    color: #0D1C12;
    font-weight: 400;
    font-size: 16px;
}

.catalog__btn--active {
    background-color: #00335B;
    color: #FFFFFF; 
}

.catalog__btn--all {
    background-color: #00335B;
    color: #FFFFFF;
}

.catalog__slide {
    padding: 8px;
    background-color: #F4F0F4;
    border-radius: 24px;
    width: 100%;
    position: relative;
}

.catalog__slide-content {
    padding: 0 8px 11px 8px;
    
}

.catalog__swiper {
    margin-top: 24px;
    overflow: hidden;
    position: relative;
}

.catalog__slide-img {
    width: 100%;
    border-radius: 24px;
    /* height: 180px; */
    object-fit: cover;
    height: 190px;
}

.catalog__slide-title {
    color: #232323;
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
}

.catalog__slide-suptext {
    margin-top: 8px;
    color: #23232380;
    font-weight: 400;
    font-size: 14px;
}

.catalog__slide-img--box {
    position: relative;
}

.catalog__slide-count {
    color: #232323;
    font-size: 18px;
    font-weight: 500;
    margin-top: 27px;
}

.catalog__slide--hidden {
    display: none;
}

.catalog__slide-btn {
    background-color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 14px;
    color: #232323;
    font-weight: 500;
    position: absolute;
    right: 8px;
    bottom: 16px;
}

.swiper-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 32px;
}

.catalog__japan-btns {
    position: relative;
}

.swiper-button-next, .swiper-button-prev{
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #00335B;
    background-image: none;
}

.swiper-button-next:hover {
    background-color:#00335B ;
}

.swiper-button-next:hover::after {
    color: #FFFFFF;
}

.swiper-button-prev:hover {
    background-color:#00335B ;
}

.swiper-button-prev:hover::after {
    color: #FFFFFF;
}

.swiper-button-next::after {
    position: absolute;
    font-family: 'icomoon' !important;
    content: "\e903";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 23px;
    font-weight: 100;
}

.swiper-button-prev::after {
    position: absolute;
    font-family: 'icomoon' !important;
    content: "\e904";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 23px;
    font-weight: 100;
}

.catalog__china-btns {
    position: relative;
}

.catalog__korea-btns {
    position: relative;
}

.catalog__korea-main {
    margin-top: 24px;
}

.catalog__china {
    padding: 40px 0 60px;
}

.catalog__korea {
    padding: 40px 0 60px;
}

.delivery {
    background-color: #F2EFF2;
    background-image: url(../image/Map.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    overflow: hidden;
    position: relative;
}

.delivery--img {
    position: absolute;
    transition: 1s;
    z-index: 1;
    left: 75%;
    transform: translateX(-50%);
}

.delivery__inner {
    padding: 80px 0;
    position: relative;
    z-index: 3;
}

.text--grey {
    color: #0D1C1280;
}

.delivery__title {
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    color: #232323;
}

.delivery__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin-top: 24px;
}

.delivery__form {
    width: 470px;
    height: 315px;
    /* background-color: rgba(255, 255, 255, 0.47); */
    background-color: rgba(217, 219, 255, 0.3);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.47);
    padding: 24px;
    margin-top: 40px;
}

.delivery__form-select, .delivery__form-select-btn, .delivery__form-select-menu{
    width: 100% !important;
}

.delivery__form-select:not(:first-of-type) {
    margin-top: 12px;
}

.delivery__form-select-btn {
    background-color: rgba(255, 255, 255, 1) !important;
    padding: 12px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: none;
}

.delivery__form-select-btn::after {
    content: "";
    display: none;
}

.delivery__btn-text {
    color: rgba(35, 35, 35, 0.5) !important;
    font-size: 16px;
    text-align: left;
    height: auto;
}

.delivery__form-select--map::before {
    content: '';
    background-image: url(../image/region-svg.svg);
    width: 15px;
    height: 18px;
    background-position: center center;
    background-size: cover;
    left: 19px;
    position: absolute;
}

.delivery__form-select--auto::before {
    content: '';
    background-image: url(../image/Auto-svg.svg);
    width: 15px;
    height: 18px;
    background-position: center center;
    background-size: cover;
    left: 19px;
    position: absolute;
}

.delivery__form-text {
    margin-top: 24px;
    font-size: 24px;
    color: rgba(35, 35, 35, 1);
    font-weight: 500;
    text-align: left;
}

.delivery__form-suptext {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(35, 35, 35, 0.5);
}

.delivery__form-btns {
    display: flex;
    gap: 12px;
    margin-top: 16px;
}

.delivery__form-btn {
    color: rgba(255, 255, 255, 1);
    padding: 16px;
    background-color: rgba(0, 51, 91, 1);
    border-radius: 12px;
    width: 100%;
}

.about {
    height: 525px;
    background-image: url(../image/heading.png);
    background-position: center top;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.about__title {
    font-size: 64px;
    font-weight: 500;
}

.about__text {
    margin-top: 40px;
    font-size: 16px;
    color: #0D1C12;
    line-height: 24px;
}

.about__btns {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 56px;
}

.about__btn {
    padding: 12px 16px;
    border-radius: 12px;
}

.about__btn-consultation {
    background-color: #00335B;
    color: #FFFFFF;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
}

.about__btn-feedback {
    background-color: #F4F0F4;
    color: #0D1C12;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 12px;
    align-items: center;
}

.about__btn-text {
    font-size: 14px;
}

.about {
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.about__btn-rate {
    display: flex;
    gap: 4px;
    align-items: center;
}

.about__btn-rate--text {
    font-weight: 700;
}

.about__back--1, .about__back--2 {
    position: absolute;
    transition: 1s;
}

.about__back--1 {
    left: 60%;
    z-index: 2;
    transform: translateX(-50%);
}

.about__back--2  {
    z-index: 1;
    bottom: 0;
    left: 70%;
}

.stages {
    padding-bottom: 100px;
}

.stages__inner {
    border-radius: 24px;
    background-color: #F4F0F4;
    padding: 80px;
}

.stages__title {
    font-size: 64px;
    font-weight: 500;
    color: #232323;
    text-align: center;
}

.stages__main {
    margin-top: 60px;
}

.stages__progress {
    /* display: flex;
    gap: 12px;
    align-items: center; */
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 40px 12px;
}

.stages__progress-point {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #495A77;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00335B;
    font-size: 24px;
    font-weight: 400;
}

.stages__progress-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.stages__progress-dotes {
    display: flex;
    align-items: center;
    gap: 12px;
}

.stages__progress-dote {
    width: 8px;
    height: 8px;
    background-color: #00335B33;
    border-radius: 50%;
}

.stages__description-title {
    font-size: 24px;
    font-weight: 500;
}

.stages__description-text {
    margin-top: 11px;
    font-size: 14px;
    font-weight: 400;
    color: #232323;
    color: inherit;
}

/* .stages__description-section, .stages__progress-section {
    width: 322px !important;
} */

.stages__description {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.stages__description-section + .stages__description-section--disable {
    color: #23232380;
}

.stages__description-section {
    color: #232323;
}

.reviews {
    background-color: #F2EFF2;
    padding: 100px 0;
    overflow: hidden;
}

.reviews_inner {
    /* padding: 100px 0; */
}

.reviews__header-title {
    font-size: 64px;
    font-weight: 500;
}

.reviews__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews__header-items {
    display: flex;
    align-items: center;
    gap: 60px;
}

.reviews__header-item {
    display: flex;
    align-items: center;
    gap: 17px;
}

.reviews__header-section--top {
    display: flex;
    align-items: center;
    gap: 6.5px;
}

.reviews__swiper-slide {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
}

.reviews__swiper-slide-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.reviews__swiper-name {
    font-size: 16px;
    font-weight: 500;
    color: #232323;
}

.reviews__swiper-text {
    font-size: 14px;
    font-weight: 400;
    color: #232323;
    margin-top: 16px;
}

.reviews__swiper-date {
    font-size: 14px;
    font-weight: 400;
    color: #23232380;
    margin-top: 16px;
}

.reviews__swiper {
    overflow: hidden;
    position: relative;
    margin-top: 40px;
} 

.reviews__swiper-buttons {
    position: absolute;
    bottom: -52px;
    right: 0;
    width: auto;
    display: flex;
    gap: 32px;
}

.reviews__swiper-wrapper {
    position: relative;
}

.reviews__inner {
    position: relative;
}

.contacts {
    background: linear-gradient(278deg, #032B53 0%, #0D5995 100%);
    padding: 80px 0 148px;
    position: relative;
}

.contacts::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../image/CONTACTS_BACK.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}

.contacts::after {
    content: '';
    width: 1061px;
    height: 190px;
    background-image: url(../image/car.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.contacts__inner {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__title {
    font-size: 64px;
    font-weight: 500;
    color: #FFFFFF;
}

.contacts__suptext {
    color: #FFFFFF80;
    font-size: 14px;
    font-weight: 400;
}

.contacts__suptext:first-of-type {
    margin-top: 16px;
}

.contacts__section:first-of-type {
    margin-top: 32px;
}

.contacts__section {
    margin-top: 28px;
}

.contacts__link-text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.contacts__link-img {
    width: 48px;
    height: 48px;
}

.contacts__links {
    margin-top: 12px;
}

.contacts__form {
    border: 1px solid #FFFFFF78;
    background-color: #D9DBFF33;
    padding: 40px;
    border-radius: 24px;
}

.contacts__form-title {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
}

.contacts__form-text {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.contacts__form-section--flex {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contacts__form-section {
    margin-top: 24px;
}

.contacts__form-input {
    margin-top: 8px;
    padding: 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    width: 100%;
}

.contacts__form-input--box-flex {
    display: flex;
    gap: 12px;
    border-radius: 8px;
    align-items: flex-start;
}

.contacts__form-checkbox {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    margin-top: 0;
}

.contacts__form-section--bottom {
    display: flex;
    align-items: center;
}

.contacts__form-btn {
    background-color: #FFFFFF80;
    border-radius: 12px;
    padding: 16px 32px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    
}

.contacts__form-input--box {
    width: 100%;
}

.contacts__form-btn--box {
    width: auto;
}

.footer__top-links {
    display: flex;
}

.footer {
    position: relative;
    top: -50px;
    padding: 40px 0 0px;
    border-radius: 60px 60px 0px 0px;
    background-color: #FFFFFF;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 32px;
}

.footer__top::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #23232380;
}

.footer__top-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;

}

.footer__top-text {
    display: block;
    margin-top: 16px;
    font-size: 16px;
    color: #23232380;
}

.footer__top-number {
    margin-top: 4px;
    color: #232323;
    font-size: 32px;
    font-weight: 500;
}

.footer__top-links {
    margin-top: 24px;
    gap: 12px;
    justify-content: flex-start;
}

.footer__top-links > .footer__top-text {
    display: none;
}

.footer__bottom {
    background-color: #FFFFFF;
    padding: 24px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom-link {
    font-size: 14px;
    font-weight: 400;
}

